{% extends "layout.html" %}

{% block title %}
Nexus
{% endblock %}

{% block content %}
<h1 class="text-center mt-4">Welcome to Nexus</h1>

<h2>{% if form.instance.pk %}Edit Tweet {% else %} Create Tweet {% endif %}</h2>

<form  method="post" enctype = "multipart/form-data" class="form mb-4">
    {% csrf_token %}

    {{ form.as_p }}

    <button class="btn btn-warning" type="submit">Submit</button>

</form>
<a href="{% url 'Nexus:nexus_list' %}"><button type="button" class="btn btn-outline-light">Back</button></a>



{% endblock %}